[submodule "ros2/joy_node_web"]
	path = robot/ros2/joy_node_web
	url = https://github.com/KinkiKnights/joy_node_web.git
[submodule "robot/ros2/ros2_socketcan"]
	path = robot/ros2/ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
[submodule "robot/ros2/gm6020_control"]
	path = robot/ros2/gm6020_control
	url = git@github.com:KinkiKnights/gm6020_control.git
